@{
    ViewData["Title"] = "About FSU600-DATA STORAGE AND MODELLING";
}
<div class="text-center">
    <h1>
        <br>FULL STACK DEVELOPER(FSU600)<br>
        LAB DATA STORAGE AND MODELLING<br>
    </h1>
</div>

<br>
<h2>Database Task<br></h2>
<br>
    The task is to develop a system for apartment queuing.<br>
    You need to make read operations on all tables and CRUD on one table in your interface.<br>
<br>
<h4>Standard grade:<br></h4>
<pre>
         • lists of available apartments (Create, Read)
         • lists of applicants (Read)</pre>
<h4>+ grade:<br></h4>
<pre>
         • lists of available apartments (Create, Read, Update, Delete)
         • requests for a certain apartment (Create)</pre>
    You can get inspired by the site in Västra Götaland: https://nya.boplats.se/ <br><br>
<h5>Front-end<br></h5>
    can be Console-,  web-basedor as an app. <br>
    However in this module you should focus on the data storage solution. <br><br>
<h5>Back-end<br></h5> 
    can be anEntity Relation database or a NoSQLdatabase. <br>
    This means that you for example chose between SQL server, MySQL, SQLLite or Firebase, MongoDB, CouchDB and others.<br><br>
<h6>Presentation</h6>
    You present your solution at a seminar where you discuss advantages and disadvantages with your solution. <br>
    The presentation is important for sharing and discussingyour experiences with the class.<br><br>
<h6>Hand in<br></h6>
    on CanvasDocumentation can very brief, but it should include a map of your tablesand relationsif existing. <br>
    You make a zip-file of your codeand include a SQL-script of your databaseor a table description.<br><br>
<h6>Grading</h6>
    You need to fulfill the task to get a passing grade. <br>
    You can also receive the grade +if your solution is extensive and well designed. The + grade will be taken into account for the course grade.

