@{
    ViewData["Title"] = "About FSU600-DATA STORAGE AND MODELLING";
}
<div class="text-center">
    <h1>
        <br>FULL STACK DEVELOPER(FSU600)<br>
        LAB DATA STORAGE AND MODELLING<br>
    </h1>
</div>

<br>
<h2>Database Task<br></h2>
<br>
    The task is to develop a system for apartment queuing.
<br>
    I tried to build a web App with ASP.Net Core, MVC and MongoDB.
<br>
    I have 3 (CRUD) collections in this project:
<br>
<pre>
         • Apartments 
         • Applicants
         • Requests
</pre>

<h4><pre>  Apartments                 Applicants                  Requests<br></h4></pre>
<pre>
        Id: Primary-Key             Id: Primary-Key             Id: Primary-Key
        Situation                   FirstName                   ApartmentId: foriegn-key
        Street                      LastName                    ApplicantId: foriegn-key
        Area                        Socialsecuritynumber
        City                        BirthDate
        Rooms                       PhoneNumber
        SquareMeters                EMail
        Rent                        Pets
        MoveInDate                  Smoke
        Floor                       Street   
        WholeFloor                  PostalCode
        PublishDate                 City
        Pets                        Country
        Smoke                       Introduction
        LandlordComments            MainEmployment
        Properties                  MainIncome
        RentInclude                 MainEmployer
        ImageUrl                    EmployerPhone
                                    WorkMunicipality
</pre>
